{% extends 'main.html' %}

{% block page_content %}
  <style type='text/css'>
    .iframe-container {
      border: 1px solid;
      height: 50%;
      overflow: hidden;
      width: 49%;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
    iframe {
      height: 1000px;
      position: relative;
      width: 1000px;
    }
    .iframe-1 {
      left: -35px;
      top: -350px;
    }
    .iframe-2 {
      left: -15px;
      top: -290px;
    }
    .iframe-3 {
      left: -175px;
      top: -290px;
    }
  </style>

  <div class='iframe-container left'>
    <iframe src='http://www.sandiegozoo.org/pandacam/' class='iframe-1'></iframe>
  </div>
  <div class='iframe-container right'>
    <iframe src='http://live.ipanda.com/' class='iframe-2'></iframe>
  </div>
  <br>
  <div class='iframe-container left'>
    <iframe src='http://www.sandiegozoo.org/polarcam/' class='iframe-1'></iframe>
  </div>
  <div class='iframe-container right'>
    <iframe src='http://www.sandiegozoo.org/koalafornia/koalacam.html' class='iframe-3'></iframe>
  </div>
{% endblock %}
